/*
 * @author Emmanuel Château-Dutier
 * @since 2017-01-14
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 https://github.com/philipwalton/solved-by-flexbox/blob/master/demos/holy-grail.md
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
}

footer {
}


/* Typographie */


body,
main {
  display: flex;
  flex-direction: column;
}

main nav {
  order: -1;
}

@media (min-width: 768px) {
  body {
    flex-direction: row;
    flex: 1;
  }
  main {
    flex: 1;
  }
  main nav, main aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
